In [68]:
import pandas as pd

df_customers = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_customers_dataset.csv")
df_order_items = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_payments_dataset.csv")
df_order_reviews = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_reviews_dataset.csv")
df_olist_orders = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_orders_dataset.csv")
df_olist_products = pd.read_csv("https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_products_dataset.csv")

- 1er KPI: Porcentaje de aumento o disminución en las ventas mensuales y trimestrales

  Variación mensual

In [69]:
df_order_payments_data = df_order_payments[['order_id', 'payment_value']] 
df_olist_orders_data = df_olist_orders[['order_id', 'order_purchase_timestamp']]
inner_join_df= pd.merge(df_order_payments_data, df_olist_orders_data, on='order_id', how='inner')
inner_join_df['order_purchase_timestamp'] = pd.to_datetime(inner_join_df.order_purchase_timestamp, format='%Y-%m-%d')
inner_join_df.groupby(inner_join_df.order_purchase_timestamp.dt.month)['payment_value'].mean()

order_purchase_timestamp
1     148.994677
2     145.323755
3     155.523792
4     161.408334
5     157.676773
6     155.774417
7     153.263458
8     150.855409
9     161.511407
10    161.228972
11    151.962711
12    148.985940
Name: payment_value, dtype: float64

  Variación trimestral

In [70]:
df_order_payments_data = df_order_payments[['order_id', 'payment_value']] 
df_olist_orders_data = df_olist_orders[['order_id', 'order_purchase_timestamp']]
inner_join_df= pd.merge(df_order_payments_data, df_olist_orders_data, on='order_id', how='inner')
inner_join_df['order_purchase_timestamp'] = pd.to_datetime(inner_join_df.order_purchase_timestamp, format='%Y-%m-%d')
inner_join_df.groupby(inner_join_df.order_purchase_timestamp.dt.month)['payment_value'].mean()

orders_by_month = len(inner_join_df)
orders_by_first_trimester = inner_join_df[inner_join_df.order_purchase_timestamp.dt.month <= 3 ]
orders_by_second_trimester = inner_join_df[(3 < inner_join_df.order_purchase_timestamp.dt.month) & (inner_join_df.order_purchase_timestamp.dt.month<=6)]
orders_by_third_trimester = inner_join_df[(6 < inner_join_df.order_purchase_timestamp.dt.month) & (inner_join_df.order_purchase_timestamp.dt.month<=9)]
orders_by_fourth_trimester = inner_join_df[(9 < inner_join_df.order_purchase_timestamp.dt.month) & (inner_join_df.order_purchase_timestamp.dt.month<=12)]

orders_by_first_trimester = inner_join_df.groupby(orders_by_first_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
orders_by_second_trimester = inner_join_df.groupby(orders_by_second_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
orders_by_third_trimester = inner_join_df.groupby(orders_by_third_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
orders_by_fourth_trimester = inner_join_df.groupby(orders_by_fourth_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']

print((orders_by_first_trimester/orders_by_month)*100)
print((orders_by_second_trimester/orders_by_month)*100)
print((orders_by_third_trimester/orders_by_month)*100)
print((orders_by_fourth_trimester/orders_by_month)*100)

8.440662521096842
9.36507325337389
8.123969222673571
5.795455274692131

- 2do KPI: Estados de Brazil en los que más se vende y menos se vende

In [71]:
inner_join_df= pd.merge(df_customers, df_olist_orders, on='customer_id', how='inner')
orders_by_city = inner_join_df.groupby(inner_join_df.customer_state).nunique()
print(orders_by_city.sort_values(by=['order_delivered_customer_date'])['order_delivered_customer_date'].head(3))
print(orders_by_city.sort_values(by=['order_delivered_customer_date'], ascending=False)['order_delivered_customer_date'].head(3))

customer_state
RR    41
AP    67
AC    80
Name: order_delivered_customer_date, dtype: int64
customer_state
SP    40325
RJ    12334
MG    11340
Name: order_delivered_customer_date, dtype: int64

Estados en los que menos se vende:
- Roraima
- Amapá
- Acre


Estados en los que más se vende:
- Säo Paulo
- Río de Janeiro
- Minas Gerais

- 3er KPI: Frecuencia de compra mensual y trimestral.

  Porcentaje de frecuencia de compra mensual

In [72]:
df_orders = df_olist_orders[['order_id']]
df_customer = df_olist_orders[['customer_id', 'order_purchase_timestamp']]
df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')
orders_by_month = len(df_orders)
customers_by_month = df_customer.groupby(df_customer.order_purchase_timestamp.dt.month).nunique()
(customers_by_month/orders_by_month)*100

<ipython-input-72-5b0bd211ea29>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')

                          customer_id  order_purchase_timestamp
order_purchase_timestamp
1                            8.114359                  8.071118
2                            8.555827                  8.502529
3                            9.948613                  9.880230
4                            9.395521                  9.349262
5                           10.632435                 10.575115
6                            9.464909                  9.426695
7                           10.376002                 10.313653
8                           10.903953                 10.840599
9                            4.329200                  4.308082
10                           4.986877                  4.970787
11                           7.586408                  7.517020
12                           5.705896                  5.675727

  Porcentaje de frecuencia de compra trimestral

In [73]:
df_customer = df_olist_orders[['customer_id', 'order_purchase_timestamp']]
df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')
orders_by_month = len(df_customer)
customers_by_first_trimester = df_customer[df_customer.order_purchase_timestamp.dt.month <= 3 ]
customers_by_second_trimester = df_customer[(3 < df_customer.order_purchase_timestamp.dt.month) & (df_customer.order_purchase_timestamp.dt.month<=6)]
customers_by_third_trimester = df_customer[(6 < df_customer.order_purchase_timestamp.dt.month) & (df_customer.order_purchase_timestamp.dt.month<=9)]
customers_by_fourth_trimester = df_customer[(9 < df_customer.order_purchase_timestamp.dt.month) & (df_customer.order_purchase_timestamp.dt.month<=12)]

customers_by_first_trimester = df_customer.groupby(customers_by_first_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
customers_by_second_trimester = df_customer.groupby(customers_by_second_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
customers_by_third_trimester = df_customer.groupby(customers_by_third_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']
customers_by_fourth_trimester = df_customer.groupby(customers_by_fourth_trimester.order_purchase_timestamp.dt.month).nunique().mean()['order_purchase_timestamp']

print((customers_by_first_trimester/orders_by_month)*100)
print((customers_by_second_trimester/orders_by_month)*100)
print((customers_by_third_trimester/orders_by_month)*100)
print((customers_by_fourth_trimester/orders_by_month)*100)

<ipython-input-73-796bd8c9995d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer['order_purchase_timestamp'] = pd.to_datetime(df_customer.order_purchase_timestamp, format='%Y-%m-%d')

8.817959057799767
9.78369083174948
8.487444816524372
6.054511385310553

Se compra más productos en el mes de agosto y en el segundo trimestre del año

- 4to KPI: Net promoter score (NPS). Objetivo: Aumentar NPS 8%.
Puntuación neta positivas

In [74]:
inner_join_df= pd.merge(df_order_reviews, df_order_items, on='order_id', how='inner')
sellers_positive_reviews = inner_join_df[inner_join_df['review_score'] >= 4.0]
sellers_positive_reviews.groupby(['seller_id'])['review_score'].mean().head(10)

seller_id
0015a82c2db000af6aaaf3ae2ecb0532    5.000000
001cca7ae9ae17fb1caed9dfb1094831    4.707602
002100f778ceb8431b7a1020ff7ab48f    4.794872
003554e2dce176b5555353e4f3555ac8    5.000000
004c9cd9d87a3c30c522c48c4fc07416    4.800000
00720abe85ba0859807595bbf045a33b    4.666667
00ab3eff1b5192e5f1a63bcecfee11c8    5.000000
00d8b143d12632bad99c0ad66ad52825    5.000000
00ee68308b45bc5e2660cd833c3f81cc    4.786207
00fc707aaaad2d31347cf883cd2dfe10    4.744681
Name: review_score, dtype: float64

Puntuación negativa

In [75]:
sellers_negative_reviews = inner_join_df[inner_join_df['review_score'] <= 2.0]
sellers_negative_reviews.groupby(['seller_id'])['review_score'].mean().head(10)

seller_id
0015a82c2db000af6aaaf3ae2ecb0532    1.000000
001cca7ae9ae17fb1caed9dfb1094831    1.244444
001e6ad469a905060d959994f1b41e4f    1.000000
002100f778ceb8431b7a1020ff7ab48f    1.125000
004c9cd9d87a3c30c522c48c4fc07416    1.416667
00720abe85ba0859807595bbf045a33b    1.000000
00ee68308b45bc5e2660cd833c3f81cc    1.235294
00fc707aaaad2d31347cf883cd2dfe10    1.333333
010da0602d7774602cd1b3f5fb7b709e    1.000000
013900e863eace745d3ec7614cab5b1a    2.000000
Name: review_score, dtype: float64

- 5to KPI: Ticket promedio mensual y trimestral. Objetivo aumentar el ticket promedio mensual un 10%

In [76]:
inner_join_df= pd.merge(df_olist_products, df_order_items, on='product_id', how='inner')
inner_join_df = inner_join_df.groupby(['product_category_name'])['price'].mean()

print(inner_join_df.sort_values(ascending=False).head(3))
print(inner_join_df.sort_values().head(3))

product_category_name
pcs                            1098.340542
portateis_casa_forno_e_cafe     624.285658
eletrodomesticos_2              476.124958
Name: price, dtype: float64
product_category_name
casa_conforto_2    25.342333
flores             33.637576
fraldas_higiene    40.194615
Name: price, dtype: float64