ETL</br>
*Transformation and imputation of data, perform in datasets*

Source of datasets: [Brazilian E-Commerce Public Dataset by Olist - Kaggle](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce)

Import of necessary libraries:

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

Uploading Datasets

In [ ]:
Closed_deals_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_closed_deals_dataset.csv')
Customers_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_customers_dataset.csv')
Geolocation_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_geolocation_dataset.csv')
Marketing_qualif_leads_df = pd.read_csv ('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_marketing_qualified_leads_dataset.csv')
Order_items_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_items_dataset.csv')
Order_payments_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_payments_dataset.csv')
Order_reviews_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_order_reviews_dataset.csv')
Orders_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_orders_dataset.csv')
Products_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_products_dataset.csv')
Sellers_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/olist_sellers_dataset.csv')
Category_translat_df = pd.read_csv('https://raw.githubusercontent.com/Astroprogramm/PF-E-commerce-Olist/master/Datasets/product_category_name_translation.csv')

#ETL Closed Deals

Change the data type in the columns

In [ ]:
Closed_deals_df.mql_id = Closed_deals_df.mql_id.astype('string')
Closed_deals_df.seller_id = Closed_deals_df.seller_id.astype('string')
Closed_deals_df.sdr_id = Closed_deals_df.sdr_id.astype('string')
Closed_deals_df.sr_id = Closed_deals_df.sr_id.astype('string')
Closed_deals_df.sdr_id = Closed_deals_df.sdr_id.astype('string')
Closed_deals_df.business_segment = Closed_deals_df.business_segment.astype('string')
Closed_deals_df.lead_type = Closed_deals_df.lead_type.astype('string')
Closed_deals_df.lead_behaviour_profile = Closed_deals_df.lead_behaviour_profile.astype('string')
Closed_deals_df.has_company = Closed_deals_df.has_company.astype('string')
Closed_deals_df.has_gtin = Closed_deals_df.has_gtin.astype('string')
Closed_deals_df.average_stock = Closed_deals_df.average_stock.astype('string')
Closed_deals_df.business_type = Closed_deals_df.business_type.astype('string')
Closed_deals_df.won_date = pd.to_datetime(Closed_deals_df.won_date)

We verify that the changes have been applied

In [ ]:
Closed_deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    string
 1   seller_id                      842 non-null    string
 2   sdr_id                         842 non-null    string
 3   sr_id                          842 non-null    string
 4   won_date                       842 non-null    datetime64[ns]
 5   business_segment               841 non-null    string
 6   lead_type                      836 non-null    string
 7   lead_behaviour_profile         665 non-null    string
 8   has_company                    63 non-null     string
 9   has_gtin                       64 non-null     string
 10  average_stock                  66 non-null     string
 11  business_type                  832 non-null    string
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: datetime64[ns](1), float64(2), string(11)
memory usage: 92.2 KB

#ETL Customers

Change the data type in the columns

In [ ]:
Customers_df.customer_id = Customers_df.customer_id.astype('string')
Customers_df.customer_unique_id = Customers_df.customer_unique_id.astype('string')
Customers_df.customer_city = Customers_df.customer_city.astype('string')
Customers_df.customer_state = Customers_df.customer_state.astype('string')

In this dataset there are no missing values, therefore they will not be imputed

We verify that the changes have been applied

In [ ]:
Customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  string
 1   customer_unique_id        99441 non-null  string
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  string
 4   customer_state            99441 non-null  string
dtypes: int64(1), string(4)
memory usage: 3.8 MB

#ETL GEOLOCATION

Change the data type in the columns

In [ ]:
Geolocation_df.geolocation_city = Geolocation_df.geolocation_city.astype('string')
Geolocation_df.geolocation_state = Geolocation_df.geolocation_state.astype('string')

In this dataset there are no missing values, therefore they will not be imputed, but if we have duplicate values, these duplicate values ​​will not be treated due to the quantity and quality of these

We verify that the changes have been applied

In [ ]:
Geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  string
 4   geolocation_state            1000163 non-null  string
dtypes: float64(2), int64(1), string(2)
memory usage: 38.2 MB

#ETL Marketing_qualif_leads

Change the data type in the columns

In [ ]:
Marketing_qualif_leads_df.mql_id = Marketing_qualif_leads_df.mql_id.astype('string')
Marketing_qualif_leads_df.landing_page_id = Marketing_qualif_leads_df.landing_page_id.astype('string')
Marketing_qualif_leads_df.origin = Marketing_qualif_leads_df.origin.astype('string')
Marketing_qualif_leads_df.first_contact_date = pd.to_datetime(Marketing_qualif_leads_df.first_contact_date)

We verify that the changes have been applied

In [ ]:
Marketing_qualif_leads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   string
 1   first_contact_date  8000 non-null   datetime64[ns]
 2   landing_page_id     8000 non-null   string
 3   origin              7940 non-null   string
dtypes: datetime64[ns](1), string(3)
memory usage: 250.1 KB

#ETL Order items

Change the data type in the columns

In [ ]:
Order_items_df.order_id = Order_items_df.order_id.astype('string')
Order_items_df.product_id = Order_items_df.product_id.astype('string')
Order_items_df.seller_id = Order_items_df.seller_id.astype('string')
Order_items_df.shipping_limit_date = pd.to_datetime(Order_items_df.shipping_limit_date)

In this dataset there are no missing values, therefore they will not be imputed

We verify that the changes have been applied

In [ ]:
Order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  string
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  string
 3   seller_id            112650 non-null  string
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), string(3)
memory usage: 6.0 MB

#ETL Order Payments

Change the data type in the columns

In [ ]:
Order_payments_df.order_id = Order_payments_df.order_id.astype('string')
Order_payments_df.payment_type = Order_payments_df.payment_type.astype('string')

In this dataset there are no missing values, therefore they will not be imputed

We verify that the changes have been applied

In [ ]:
Order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  string
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  string
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), string(2)
memory usage: 4.0 MB

#ETL Order Reviews

Change the data type in the columns

In [ ]:
Order_reviews_df.review_id = Order_reviews_df.review_id.astype('string')
Order_reviews_df.order_id = Order_reviews_df.order_id.astype('string')
Order_reviews_df.review_comment_title = Order_reviews_df.review_comment_title.astype('string')
Order_reviews_df.review_comment_message = Order_reviews_df.review_comment_message.astype('string')
Order_reviews_df.review_creation_date = pd.to_datetime(Order_reviews_df.review_creation_date)
Order_reviews_df.review_answer_timestamp = pd.to_datetime(Order_reviews_df.review_answer_timestamp)

We verify that the changes have been applied

In [ ]:
Order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  string
 1   order_id                 99224 non-null  string
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  string
 4   review_comment_message   40977 non-null  string
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), string(4)
memory usage: 5.3 MB

#ETL Orders

Change the data type in the columns

In [ ]:
Orders_df.customer_id = Orders_df.customer_id.astype('string')
Orders_df.order_id = Orders_df.order_id.astype('string')
Orders_df.order_status = Orders_df.order_status.astype('string')
Orders_df.order_purchase_timestamp = pd.to_datetime(Orders_df.order_purchase_timestamp)
Orders_df.order_approved_at = pd.to_datetime(Orders_df.order_approved_at)
Orders_df.order_delivered_carrier_date = pd.to_datetime(Orders_df.order_delivered_carrier_date)
Orders_df.order_delivered_customer_date = pd.to_datetime(Orders_df.order_delivered_customer_date)
Orders_df.order_estimated_delivery_date = pd.to_datetime(Orders_df.order_estimated_delivery_date)

We verify that the changes have been applied

In [ ]:
Orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  string
 1   customer_id                    99441 non-null  string
 2   order_status                   99441 non-null  string
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), string(3)
memory usage: 6.1 MB

#ETL Products

Change the data type in the columns

In [ ]:
Products_df.product_id = Products_df.product_id.astype('string')
Products_df.product_category_name = Products_df.product_category_name.astype('string')
Products_df.product_name_lenght = Products_df.product_name_lenght.astype('float')

We verify that the changes have been applied

In [ ]:
Products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  string
 1   product_category_name       32341 non-null  string
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), string(2)
memory usage: 2.3 MB

#ETL Sellers

Change the data type in the columns

In [ ]:
Sellers_df.seller_id = Sellers_df.seller_id.astype('string')
Sellers_df.seller_city = Sellers_df.seller_city.astype('string')
Sellers_df.seller_state= Sellers_df.seller_state.astype('string')

In this dataset there are no missing values, therefore they will not be imputed

We verify that the changes have been applied

In [ ]:
Sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   string
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   string
 3   seller_state            3095 non-null   string
dtypes: int64(1), string(3)
memory usage: 96.8 KB

#ETL Category_translat_df

Change the data type in the columns

In [ ]:
Category_translat_df.product_category_name = Category_translat_df.product_category_name.astype('string')
Category_translat_df.product_category_name_english = Category_translat_df.product_category_name_english.astype('string')

In this dataset there are no missing values, therefore they will not be imputed

We verify that the changes have been applied

In [ ]:
Category_translat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     string
 1   product_category_name_english  71 non-null     string
dtypes: string(2)
memory usage: 1.2 KB

#Imputing null values

To impute null values ​​we create a function that imputes null values ​​depending on the type of data in the columns

We store in a list all the dataframes

In [ ]:
datasets_names= [Closed_deals_df,Marketing_qualif_leads_df,Order_reviews_df,Orders_df,Products_df]

We create the function

In [ ]:
def ImputeNulls(datasets_names):
    for dataset in datasets_names:
        for column in dataset.columns:
            #Null imputation in strings
            if dataset[column].dtype == 'string[python]':
                if dataset[column].isnull().sum() >=1:
                    dataset[column].fillna('No data', inplace=True)
            #Null imputation in float64:
            elif dataset[column].dtype == 'float64':
                if dataset[column].isnull().sum() >=1:
                    dataset[column].fillna(0, inplace=True)
            #Null imputation in int64:
            elif dataset[column].dtype == 'int64':
                if dataset[column].isnull().sum() >=1:
                    dataset[column].fillna(0, inplace=True)
            #Null imputation in datetime
            elif dataset[column].dtype == 'datetime64[ns]':
                if dataset[column].isnull().sum() >=1:
                    dataset[column].fillna('No data', inplace=True)

We carry out the imputation of nulls by means of the function

In [ ]:
ImputeNulls(datasets_names)

We verify that the changes have been applied

In [ ]:
Closed_deals_df.isnull().sum()

mql_id                           0
seller_id                        0
sdr_id                           0
sr_id                            0
won_date                         0
business_segment                 0
lead_type                        0
lead_behaviour_profile           0
has_company                      0
has_gtin                         0
average_stock                    0
business_type                    0
declared_product_catalog_size    0
declared_monthly_revenue         0
dtype: int64

In [ ]:
Marketing_qualif_leads_df.isnull().sum()

mql_id                0
first_contact_date    0
landing_page_id       0
origin                0
dtype: int64

In [ ]:
Order_reviews_df.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [ ]:
Orders_df.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [ ]:
Products_df.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

#Division of datasets to test incremental upload

We split the dataset into two parts, one for the initial data load and one for the incremental load in the data warehouse

Closed_deals_df Division

In [ ]:
Closed_deals_inicial, Closed_deals_Incremental = train_test_split(Closed_deals_df, test_size = 0.30, shuffle = False)
print("*****CLOSED DEALS*****")
print("Datos usados para la carga inicial: ", len(Closed_deals_inicial))
print("Datos usados para la carga incremental", len(Closed_deals_Incremental))

*****CLOSED DEALS*****
Datos usados para la carga inicial:  589
Datos usados para la carga incremental 253

Customers division

In [ ]:
Customers_inicial, Customers_Incremental = train_test_split(Customers_df, test_size = 0.30, shuffle = False)
print("*****CUSTOMERS*****")
print("Datos usados para la carga inicial: ", len(Customers_inicial))
print("Datos usados para la carga incremental", len(Customers_Incremental))

*****CUSTOMERS*****
Datos usados para la carga inicial:  69608
Datos usados para la carga incremental 29833

Geolocation division

In [ ]:
Geolocation_inicial, Geolocation_Incremental = train_test_split(Geolocation_df, test_size = 0.30, shuffle = False)
print("*****GEOLOCATION*****")
print("Datos usados para la carga inicial: ", len(Geolocation_inicial))
print("Datos usados para la carga incremental", len(Geolocation_Incremental))

*****CUSTOMERS*****
Datos usados para la carga inicial:  700114
Datos usados para la carga incremental 300049

Marketing_qualif_leads division

In [ ]:
Marqueting_inicial, Marqueting_Incremental = train_test_split(Marketing_qualif_leads_df, test_size = 0.30, shuffle = False)
print("*****MARQUETING QUIALIF LEADS*****")
print("Datos usados para la carga inicial: ", len(Marqueting_inicial))
print("Datos usados para la carga incremental", len(Marqueting_Incremental))

*****MARQUETING QUIALIF LEADS*****
Datos usados para la carga inicial:  5600
Datos usados para la carga incremental 2400

Order_items division

In [ ]:
Order_items_inicial, Order_items_Incremental = train_test_split(Order_items_df, test_size = 0.30, shuffle = False)
print("*****ORDER ITEMS*****")
print("Datos usados para la carga inicial: ", len(Order_items_inicial))
print("Datos usados para la carga incremental", len(Order_items_Incremental))

*****ORDER ITEMS*****
Datos usados para la carga inicial:  78855
Datos usados para la carga incremental 33795

Order Payments division

In [ ]:
Order_payments_inicial, Order_payments_Incremental = train_test_split(Order_payments_df, test_size = 0.30, shuffle = False)
print("*****ORDER PAYMENTS*****")
print("Datos usados para la carga inicial: ", len(Order_payments_inicial))
print("Datos usados para la carga incremental", len(Order_payments_Incremental))

*****ORDER PAYMENTS*****
Datos usados para la carga inicial:  72720
Datos usados para la carga incremental 31166

Order Reviews division

In [ ]:
Order_reviews_inicial, Order_reviews_Incremental = train_test_split(Order_reviews_df, test_size = 0.30, shuffle = False)
print("*****ORDER REVIEWS*****")
print("Datos usados para la carga inicial: ", len(Order_reviews_inicial))
print("Datos usados para la carga incremental", len(Order_reviews_Incremental))

*****ORDER REVIEWS*****
Datos usados para la carga inicial:  69456
Datos usados para la carga incremental 29768

Orders division

In [ ]:
Orders_inicial, Orders_Incremental = train_test_split(Orders_df, test_size = 0.30, shuffle = False)
print("*****ORDERS*****")
print("Datos usados para la carga inicial: ", len(Orders_inicial))
print("Datos usados para la carga incremental", len(Orders_Incremental))

*****ORDERS*****
Datos usados para la carga inicial:  69608
Datos usados para la carga incremental 29833

Products division

In [ ]:
Products_inicial, Products_Incremental = train_test_split(Products_df, test_size = 0.30, shuffle = False)
print("*****PRODUCTS*****")
print("Datos usados para la carga inicial: ", len(Products_inicial))
print("Datos usados para la carga incremental", len(Products_Incremental))

*****PRODUCTS*****
Datos usados para la carga inicial:  23065
Datos usados para la carga incremental 9886

Sellers division

In [ ]:
Sellers_inicial, Sellers_Incremental = train_test_split(Sellers_df, test_size = 0.30, shuffle = False)
print("*****SELLERS*****")
print("Datos usados para la carga inicial: ", len(Sellers_inicial))
print("Datos usados para la carga incremental", len(Sellers_Incremental))

*****SELLERS*****
Datos usados para la carga inicial:  2166
Datos usados para la carga incremental 929

Category translat division

In [ ]:
Category_translat_inicial, Category_translat_Incremental = train_test_split(Category_translat_df, test_size = 0.30, shuffle = False)
print("*****CATEGORY TRANSLAT*****")
print("Datos usados para la carga inicial: ", len(Category_translat_inicial))
print("Datos usados para la carga incremental", len(Category_translat_Incremental))

*****CATEGORY TRANSLAT*****
Datos usados para la carga inicial:  49
Datos usados para la carga incremental 22

#Initial load

We have already finished the ETL.</br>
Our next step will be to carry out the initial load to our Data Warehouse

We are going to load the original dataset with SQLALCHEMY in our Data Warehouse, this would be our initial load

In [ ]:
import pymysql
from sqlalchemy import create_engine

cadena_conexion = 'mysql+pymysql://root:root@localhost:3306/ecommerceolist' #Create the connection string that will be the path of our database

conexion= create_engine(cadena_conexion) # create the connection with MySQL

Load the dataframes in Mysql table

In [ ]:
Closed_deals_inicial.to_sql(name='Closed_deals', con=conexion, index=False)
Customers_inicial.to_sql(name='Customers', con=conexion, index=False)
Geolocation_inicial.to_sql(name='Geolocation', con=conexion, index=False)
Marqueting_inicial.to_sql(name='Marketing_qualif_leads', con=conexion, index=False)
Order_items_inicial.to_sql(name='Order_items', con=conexion, index=False)
Order_payments_Incremental.to_sql(name='Order_payments', con=conexion, index=False)
Order_reviews_inicial.to_sql(name='Order_reviews', con=conexion, index=False)
Orders_inicial.to_sql(name='Orders', con=conexion, index=False)
Products_inicial.to_sql(name='Products', con=conexion, index=False)
Sellers_inicial.to_sql(name='Sellers', con=conexion, index=False)
Category_translat_inicial.to_sql(name='Category_translat', con=conexion, index=False)

#Incremental load

Next step: incremental load in our Data Warehouse

We create and establish the connection

In [ ]:
import pymysql
conexion = pymysql.connect(
   host='34.176.180.147',
   database='ecommerceolist',
   user='root',
   password='olist'
)#create engine
cursor = conexion.cursor()#create cursor

We test the connection with Mysql showing the data Warehouse tables

In [ ]:
cursor=conexion.cursor()
cursor.execute("show tables")
for tabla in cursor:
    print(tabla)
conexion.close()

('Category_translat',)
('Closed_deals',)
('Customers',)
('Geolocation',)
('Marketing_qualif_leads',)
('Order_items',)
('Order_payments',)
('Order_reviews',)
('Orders',)
('Products',)
('Sellers',)
('audit_category_translat',)
('audit_closed_deals',)
('audit_customers',)
('audit_geolocation',)
('audit_marketing_qualif',)
('audit_order',)
('audit_order_items',)
('audit_order_payments',)
('audit_order_reviews',)
('audit_products',)
('audit_sellers',)

The connection works perfectly. ¡We start with incremental loading!

Incremental load closed deals

In [ ]:
sql = """
INSERT INTO ecommerceolist.Closed_deals
(mql_id, seller_id, sdr_id, sr_id, won_date, business_segment, lead_type, lead_behaviour_profile, has_company, has_gtin, average_stock, business_type,declared_product_catalog_size,declared_monthly_revenue)
VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s, %s)
"""
registros = []
for index, row in Closed_deals_Incremental.iterrows():
    registros.append( 
        (
            row['mql_id'], 
            row['seller_id'], 
            row['sdr_id'], 
            row['sr_id'],
            row['won_date'],
            row['business_segment'],
            row['lead_type'],
            row['lead_behaviour_profile'],
            row['has_company'],
            row['has_gtin'],
            row['average_stock'],
            row['business_type'],
            row['declared_product_catalog_size'], 
            row['declared_monthly_revenue']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Customers

In [ ]:
sql = """
INSERT INTO ecommerceolist.Customers
(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) 
VALUES (%s, %s,%s, %s,%s)
"""
registros = []
for index, row in Customers_Incremental.iterrows():
    registros.append( 
        (
            row['customer_id'], 
            row['customer_unique_id'], 
            row['customer_zip_code_prefix'], 
            row['customer_city'],
            row['customer_state']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Geolocation

In [ ]:
sql = """
INSERT INTO ecommerceolist.Geolocation(geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state) 
VALUES (%s, %s,%s, %s,%s)
"""
registros = []
for index, row in Geolocation_Incremental.iterrows():
    registros.append( 
        (
            row['geolocation_zip_code_prefix'], 
            row['geolocation_lat'], 
            row['geolocation_lng'], 
            row['geolocation_city'],
            row['geolocation_state']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Marketing qualif leads

In [ ]:
sql = """
INSERT INTO ecommerceolist.Marketing_qualif_leads(mql_id, first_contact_date,landing_page_id, origin) 
VALUES (%s, %s,%s, %s)
"""
registros = []
for index, row in Marqueting_Incremental.iterrows():
    registros.append( 
        (
            row['mql_id'], 
            row['first_contact_date'], 
            row['landing_page_id'], 
            row['origin']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Order items

In [ ]:
sql = """
INSERT INTO ecommerceolist.Order_items(order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) 
values (%s, %s, %s, %s, %s, %s, %s)
"""
registros = []
for index, row in Order_items_Incremental.iterrows():
    registros.append( 
        (
            row['order_id'], 
            row['order_item_id'], 
            row['product_id'], 
            row['seller_id'],
            row['shipping_limit_date'],
            row['price'],
            row['freight_value']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Order Payments

In [ ]:
sql = """
INSERT INTO ecommerceolist.Order_payments(order_id, payment_sequential, payment_type, payment_installments, payment_value) 
VALUES (%s, %s,%s, %s, %s)
"""
registros = []
for index, row in Order_payments_Incremental.iterrows():
    registros.append( 
        (
            row['order_id'], 
            row['payment_sequential'], 
            row['payment_type'], 
            row['payment_installments'],
            row['payment_value']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Order Reviews

In [ ]:
sql = """
INSERT INTO ecommerceolist.Order_reviews
(review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date,review_answer_timestamp)
VALUES ( %s, %s, %s, %s, %s, %s, %s )
"""
registros = []
for index, row in Order_reviews_Incremental.iterrows():
    registros.append( 
        (
            row['review_id'], 
            row['order_id'], 
            row['review_score'], 
            row['review_comment_title'],
            row['review_comment_message'],
            row['review_creation_date'],
            row['review_answer_timestamp']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental Load Orders

In [ ]:
sql = """
INSERT INTO ecommerceolist.Orders(order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date) 
VALUES (%s, %s,%s, %s, %s, %s, %s, %s)
"""
registros = []
for index, row in Orders_Incremental.iterrows():
    registros.append( 
        (
            row['order_id'], 
            row['customer_id'], 
            row['order_status'], 
            row['order_purchase_timestamp'],
            row['order_approved_at'],
            row['order_delivered_carrier_date'],
            row['order_delivered_customer_date'],
            row['order_estimated_delivery_date']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Products

In [ ]:
sql = """
INSERT INTO ecommerceolist.Products(product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g,product_length_cm,product_height_cm,product_width_cm) 
VALUES (%s, %s,%s, %s, %s, %s, %s, %s, %s)
"""
registros = []
for index, row in Products_Incremental.iterrows():
    registros.append( 
        (
            row['product_id'], 
            row['product_category_name'], 
            row['product_name_lenght'], 
            row['product_description_lenght'],
            row['product_photos_qty'],
            row['product_weight_g'],
            row['product_length_cm'],
            row['product_height_cm'],
            row['product_width_cm']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Sellers

In [ ]:
sql = """
INSERT INTO ecommerceolist.Sellers(seller_id, seller_zip_code_prefix, seller_city, seller_state) 
VALUES (%s, %s,%s, %s)
"""
registros = []
for index, row in Sellers_Incremental.iterrows():
    registros.append( 
        (
            row['seller_id'], 
            row['seller_zip_code_prefix'], 
            row['seller_city'], 
            row['seller_state']
            ))

cursor.executemany(sql, registros)
conexion.commit()

Incremental load Category translat

In [ ]:
sql = """
INSERT INTO ecommerceolist.Category_translat(product_category_name, product_category_name_english) 
VALUES (%s, %s)
"""
registros = []
for index, row in Category_translat_Incremental.iterrows():
    registros.append( 
        (
            row['product_category_name'], 
            row['product_category_name_english']
            ))

cursor.executemany(sql, registros)
conexion.commit()

This completes our ETL process.